// app global css in SCSS form

// Import Quasar variables
@import 'quasar.variables.scss';

// CSS variables for general colors (imported from quasar.variables.scss)
:root {
  --brand-dark: #{$brand-dark};
  --divider-light: #{$divider-light};
  --shadow-light: #{$shadow-light};
  --background-light: #{$background-light};
  --text-secondary: #{$text-secondary};
  --border-light: #{$border-light};
  --text-dark: #{$text-dark};
  --bg-block-rgb: 255, 255, 255;
  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 16px;
  --border-radius-lg: 24px;
  --border-radius-xl: 32px;
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  // Accend Colors
  --red-accent: #FF3D00;
  --blue-accent: #1976D2;
  --green-accent: #4CAF50;
  --orange-accent: #FF9800;
  --purple-accent: #9C27B0;
  --teal-accent: #009688;
  --pink-accent: #E91E63;
  --indigo-accent: #3F51B5;

  // Accent RGB Colors
  --red-accent-rgb: 255, 61, 0;
  --blue-accent-rgb: 25, 118, 210;
  --green-accent-rgb: 76, 175, 80;
  --orange-accent-rgb: 255, 152, 0;
  --purple-accent-rgb: 156, 39, 176;
  --teal-accent-rgb: 0, 150, 136;
  --pink-accent-rgb: 233, 30, 99;
  --indigo-accent-rgb: 63, 81, 181;
}

.body--dark {
  --bg-block-rgb: 44, 44, 44;
}

body.q-ios-padding .q-dialog__inner {
  padding-bottom: 0 !important;
}

.q-ios-padding .page {
  padding-top: 70px;
}

a {
  text-decoration: none;
}

#q-app {
  height: 100vh;
  overflow: auto;
}

*::-webkit-scrollbar-track
{
  display: none;
}

*::-webkit-scrollbar
{
  display: none;
}

*::-webkit-scrollbar-thumb
{
	display: none;
}

.q-z-1 {
  z-index: 1;
}

.q-z-2 {
  z-index: 2;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 16px;
}

.q-gap-xs {
  gap: 4px;
}

.q-gap-sm {
  gap: 8px;
}

.q-gap-md {
  gap: 16px;
}

.q-gap-lg {
  gap: 24px;
}

.q-gap-xl {
  gap: 32px;
}

.border-radius-xs {
  border-radius: 4px;
}

.border-radius-sm {
  border-radius: 8px;
}

.border-radius-md {
  border-radius: 16px;
}

.border-radius-lg {
  border-radius: 24px;
}

.bg-block {
  background: rgba(var(--bg-block-rgb), 0.6);
  backdrop-filter: blur(10px);
  box-shadow: var(--box-shadow);
}

.q-btn {
  text-transform: none;
}

.q-notifications__list--bottom {
  margin-bottom: 80px;
}

.q-notification {
  border-radius: 50px;
  overflow: hidden;
}

.q-notification__badge--top-left, .q-notification__badge--bottom-left {
  left: 0;
}

.q-notification__badge--top-left, .q-notification__badge--top-right {
  top: 14px;
}

.q-drawer {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  overflow: hidden;
}

.q-menu,
.q-time,
.q-date,
.q-select__dialog,
.q-dialog-plugin {
  border-radius: 16px !important;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--shadow-light);
}

.q-textarea.q-field--outlined.q-field--rounded .q-field__control {
  border-radius: var(--border-radius-md);
}

.q-field--dark .q-field__control:before,
.q-field--dark .q-field__control:hover:before {
  border-color: rgba(255, 255, 255, 0.2);
}
